[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geocube = "*"
geopandas = "*"
matplotlib = "*"
mayavi = "*"
numpy = "*"
rasterio = "*"
scipy = "*"
shapely = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.10"
